/* Departments */
.department .department_content {
  background-color: #fff;
  border-radius: 20px;
  transform: translateY(-50px);
  box-shadow: 0px 1px 11px 9px #00000040;
}

.department .department_content_about {
  transform: translateY(0);
}

.department .department_content .title {
  text-align: center;
  position: relative;
  width: fit-content;
}

.department .department_content .title::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -15px;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
}

.department .department_content .title::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0%;
}

.department img {
  width: 100%;
  height: 300px;
  padding: 4px;
  border: 1px solid #fd6a04;
  border-radius: 15px;
  cursor: pointer;
  transition: var(--main-transition);
}

.department img:hover {
  transform: scale(1.05);
}

.department .title_department {
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow-y: clip;
  -webkit-box-orient: vertical;
}

.department .desc {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow-y: clip;
  -webkit-box-orient: vertical;
  height: 50px;
}

.department .department_content .readMore_btn {
  display: flex;
  justify-content: flex-end;
}

.department .department_content .readMore_btn .btn {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  transition: var(--main-transition);
  border: 1px solid var(--main-color);
}

.department .department_content .readMore_btn .btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (min-width: 320px) and (max-width: 767px) {

  .department .department_content .title {
    font-size: 15px;
  }


  .department .department_content {
    transform: translateY(0px);
    margin: 20px 0;
    padding: 30px 10px;
  }
}


/* 3d button */

.span {
  position: relative;
  display: inline-flex;
  width: 80px;
  height: 40px;
  margin: 0 15px;
  perspective: 1000px;
}

.span .btn {
  font-size: 19px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;

}

.span .btn:before,
.span .btn:after {
  position: absolute;
  content: "more";
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--primary);
  box-sizing: border-box;
  border-radius: 4px;
}

.span .btn:before {
  color: #fff;
  background: var(--primary);
  transform: rotateY(0deg) translateZ(20px);
}

.span .btn:after {
  border: 5px solid var(--main-color);
  color: var(--main-color);
  transform: rotateX(90deg) translateZ(20px);
}

.span .btn:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* end 3d */