/* lastestNews */
.lastestNews .news_title .title {
  position: relative;
  width: fit-content;
  margin-right: 30px;
}
.lastestNews .news_title .title::after {
  content: "";
  width: 120%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  right: -5%;
  bottom: -10px;
}
.lastestNews .news_title .title::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  right: -10%;
  bottom: -15px;
}

/* news_content */
.lastestNews {
  overflow: hidden;
}
.lastestNews .news_content {
  background: #fff;
  box-shadow: 0px 2px 10px 0px #0586bc33;
}
.lastestNews .news .new .head {
  margin: 10px 0;
  color: var(--primary);
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow-y: clip;
  -webkit-box-orient: vertical;
}
.lastestNews .myImg {
  overflow: hidden;
}
.lastestNews .news_content:hover .main_img {
  transform: rotate(-1deg) scale(1.1);
}
.lastestNews .news .new .desc {
  color: #626262;
  text-align: justify;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow-y: clip;
  -webkit-box-orient: vertical;
}
.lastestNews .news .new .icons .icon {
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px #0586bc33;
  background-color: #fff;
  color: var(--primary);
  margin-right: 10px;
  border-radius: 4px;
  transition: var(--main-transition);
}
.lastestNews .news .new .icons .icon:hover {
  transform: scale(1.2);
}
.lastestNews .news .readMore_btn .btn {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  transition: var(--main-transition);
}
.lastestNews .news .readMore_btn .btn:hover {
  color: var(--primary);
  background-color: #fff;
}
.main_img,
.sec_img {
  height: 350px;
  aspect-ratio: 1/1;
  object-fit: cover;
  vertical-align: revert-layer;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 2px #6cc6ed54;
  transition: 0.5s;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_img,
  .sec_img {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 990px) {
  .lastestNews .news_content {
    padding: 20px 10px;
    margin-top: 30px;
  }
  .lastestNews .news .new .desc {
    -webkit-line-clamp: 5;
  }
  .lastestNews .category {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
