.head {
  position: relative;
  width: fit-content;
}

.head::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  bottom: -20px;
  right: 0;

}

.head::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  bottom: -15px;
  right: 0;
}

.col_contact {
  color: white;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}

.col_contact::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: var(--primary);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 4px;
}

.col_contact::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 3px;
  bottom: 0px;
  right: 0;
  background: var(--primary);
  transform: translateY(15px);
}

.col_contact a i {
  color: white;
  border-left: 2px solid white;
  margin-left: 10px;
}

.col_contact a span {
  color: white;
}

.col_social {
  background: var(--primary);
  transform: translate(50px, 10px) scale(1, 1.4);
  z-index: 1;
}

.col_social .btn {
  background: white;
  color: var(--primary);
  border: 1px solid white;
  transform: scale(1, 0.7);
  transition: 0.5s;
}

.col_social .btn:hover {
  background: var(--primary);
  color: white;
}

@media only screen and (max-width: 768px) {
  .col_social {
    transform: translate(0, 0) scale(1, 1);
  }

  .col_social .btn {
    transform: scale(1, 1);
  }
}