/* News */

.our_news .news_title .title {
  width: fit-content;
  position: relative;
  color: white;
}

.our_news {
  position: relative;
}

.our_news::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 100%;
  background: var(--primary);
}

.our_news .news_title .title::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.our_news .news_title .title::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -15px;
  right: -2px;
}

.our_news .news_title .des {
  width: 70%;
  text-align: justify;
  margin-top: 50px;
  line-height: 2;

  font-weight: 400;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  overflow-y: clip;
  -webkit-box-orient: vertical;
}

.our_news .des {
  position: relative;
  color: #fff;
  text-align: justify;
  border-right: 4px solid var(--main-color);
  padding-right: 10px;
  z-index: 10;
}

.our_news .owl_news {
  direction: ltr;
}

.our_news .department_content .item {
  display: flex;
}

.our_news .department_content .item .link {
  width: 80%;
  position: relative;
  display: inline-block;
  margin: auto;
}

.our_news .department_content .content {
  height: 300px;
}

.our_news .department_content .img {
  height: 280px;
  aspect-ratio: 1/1;
  object-fit: fill;
  border-radius: 6px;
  border: 1px solid var(--main-color);
}

.our_news .owl-theme .owl-nav,
.our_news .owl-theme .owl-dots {
  display: none;
}

.our_news .title_img {
  background-color: white;
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 5%;

  margin: auto;
  box-shadow: 0px 29px 55px 7px #0000004d;
}

.our_news .title_img .head {
  border-right: 2px solid #fe654f;
  color: #333;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow-y: clip;
  -webkit-box-orient: vertical;
  direction: rtl !important;
}

@media (min-width: 320px) and (max-width: 990px) {
  .our_news {
    margin-top: 0px;
  }

  .our_news .news_title .des {
    width: 100%;
  }


  .our_news .department_content .content {
    height: 320px;
  }

  .our_news .department_content .img {
    height: 300px;
  }

}