/*  structure  */
.structure .members .member_img img {
  height: 200px;
}
.structure .members .member_img .custom_transform {
  transform: translateX(100px);
}
.structure .organ_structure {
  padding: 100px;
  background-image: url(../../../assets/imgs/strc-bg.webp);
  background-size: 100% 100%;
  background-position: center;
}
.structure .organ_structure .title {
  color: var(--main-color);
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
}
.structure .organ_structure .des {
  text-align: justify;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  overflow-y: clip;
  -webkit-box-orient: vertical;
}
.structure .organ_structure .title::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -10px;
}
.structure .organ_structure .title::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .structure .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .structure .members .member_img .custom_transform {
    transform: translateX(0px);
  }
  .structure .organ_structure {
    padding: 10px;
    background-size: auto;
  }
  .structure .organ_structure .title::after {
    left: 0;
  }
  .structure .organ_structure .title::before {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .structure .organ_structure {
    padding: 70px;
  }
  .structure .members .member_img img {
    height: 150px;
  }
  .structure .members .member_img {
    transform: translateY(100px);
  }
  .structure .members .member_img .custom_transform {
    transform: translateX(-50px);
  }
}
